<article>
    <form action="#" method="post">
        <h3 class="legend">Register Here</h3>
        <div class="input">
            <span class="fa fa-user-o" aria-hidden="true"></span>
            <input type="text" placeholder="isim" name="cariAd" required />
        </div>
        <div class="input">
            <span class="fa fa-user-o" aria-hidden="true"></span>
            <input type="text" placeholder="soyisim" name="cariSoyad" required />
        </div>
        <div class="input">
            <span class="fa fa-bank aria-hidden="true"></span>
            <input type="password" placeholder="Sehir" name="cariSehir" required />
        </div>
        <div class="input">
            <span class="fa fa-mail-forward aria-hidden="true"></span>
            <input type="password" placeholder="Mail" name="cariMail" required />
        </div>
        <div class="input">
            <span class="fa fa-key" aria-hidden="true"></span>
            <input type="password" placeholder="Confirm Password" name="password" required />
        </div>
        <button type="submit" class="btn submit">Register </button>
    </form>
</article>
