@using MvcTicaretOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>


<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Departman Adi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Departmanid </td>
            <td>@item.DepartmanAd </td>
            <td> <a href="/Departman/DepartmanSil/@item.Departmanid" class="btn btn-danger" />sil </td>
            <td> <a href="/Departman/DepartmanGetir/@item.Departmanid" class="btn btn-primary" />güncelle </td>
            <td> <a href="/Departman/DepartmanDetay/@item.Departmanid" class="btn btn-default" style="background-color:aquamarine" />Detay </td>

        </tr>


    }

</table>

<a href="/Departman/DepartmanEkle" class="btn btn-primary"> Departman Ekle</a>


